/* ------------------------------------------ */
/* ADVANTAGES BLOCK
/* ------------------------------------------ */
.advantages {
    @include wrapper;
    @include heading;

    &__wrapper {
        padding-top: 2.5rem;
        padding-bottom: 3.5rem;
    }

    &__items {
        display: flex;
        flex-direction: column;

        text-align: center;
    }

    &__item {
        display: flex;
        flex-direction: column;

        width: 21.7rem;
        height: 21.7rem;
        margin: 0 auto;
        padding: 2rem;

        border: 0.1rem solid $color-primary-dark;

        align-content: center;
        align-items: center;
        justify-content: center;

        &:nth-child(1) {
            img {
                width: 10.1rem;
                height: 6.9rem;
            }
        }

        &:nth-child(2) {
            img {
                width: 13.9rem;
                height: 6.2rem;
            }
        }

        &:nth-child(3) {
            img {
                width: 8.3rem;
                height: 9rem;
            }
        }

        &:nth-child(4) {
            img {
                width: 6.7rem;
                height: 8.1rem;
            }
        }

        span {
            width: 100%;
            height: 5.5rem;

            font-size: $font-size-00;
            font-weight: $regular-font-weight;
            line-height: 2rem;
        }
    }

    &__image {
        display: flex;
        flex-direction: column;

        width: 100%;

        justify-content: center;
        align-items: center;
        flex-grow: 1;
    }

    @media (min-width: $large-up) {
        &__items {
            flex-direction: row;

            margin-top: 2.5rem;

            flex-wrap: nowrap;
        }
    }
}