/* ------------------------------------------ */
/* CONTACTS BLOCK
/* ------------------------------------------ */
.contacts {
    @include wrapper;

    &__wrapper {
        padding-top: 4rem;
        padding-bottom: 2rem;
    }

    &__content {
        display: flex;
        flex-direction: row;

        flex-wrap: wrap;
    }

    &__heading {
        width: 100%;
        margin-bottom: 3rem;

        color: $color-secondary;

        font-size: 2.6rem;
        font-weight: $extra-bold-font-weight;
        line-height: 1;
    }

    &__list {
        width: auto;

        flex-grow: 1;
    }

    &__item {
        position: relative;

        margin-bottom: 3.5rem;
        padding-left: 5.5rem;

        &::before {
            position: absolute;
            top: -50%;
            left: 0;

            display: block;

            width: 3.5rem;
            height: 3.5rem;

            content: "";
        }

        &:nth-child(1) {
            &::before {
                background: url("../img/contacts-1.png") no-repeat center center / contain;
            }
        }

        &:nth-child(2) {
            &::before {
                background: url("../img/contacts-2.png") no-repeat center center / contain;
            }
        }

        &:nth-child(3) {
            margin: 0;

            &::before {
                background: url("../img/contacts-3.png") no-repeat center center / contain;
            }
        }

        a {
            color: $color-primary-text-dark;

            font-size: $font-size-00;
            font-weight: $regular-font-weight;
            line-height: 1;

            &:visited {
                color: $color-primary-text-dark;
            }

            &:hover,
            &:active {
                color: $color-secondary;
            }
        }
    }

    &__promocode {
        width: 100%;
        margin-top: 4rem;
        padding: 3rem 0;

        text-align: center;
        white-space: nowrap;

        border-top: 0.1rem solid $color-primary-dark;
        border-bottom: 0.1rem solid $color-primary-dark;

        font-size: $font-size-00;
        font-weight: $extra-bold-font-weight;
        line-height: 2rem;

        span {
            display: block;

            padding-top: 2rem;

            text-transform: uppercase;

            color: $color-secondary;

            font-size: 2.6rem;
            font-weight: $extra-bold-font-weight;
            line-height: 1;
        }
    }

    @media (min-width: $large-up) {
        &__content {
            padding: 8rem 13rem;

            border: 0.1rem solid $color-primary-dark;
        }

        &__promocode {
            width: 25rem;
            margin: 0;
        }
    }
}