/* ------------------------------------------ */
/* PROFESSIONAL BLOCK
/* ------------------------------------------ */
.professional {
    @include wrapper;
    @include heading;

    &__wrapper {
        display: flex;
        flex-direction: column;

        min-height: 40rem;
        padding-bottom: 2rem;

        text-align: center;

        background: url("../img/professional.png") no-repeat center center / cover;

        justify-content: space-between;
    }

    @media (min-width: $large-up) {
        &__wrapper {
            min-height: 62rem;
        }
    }
}