/* ------------------------------------------ */
/* PROFESSIONAL BLOCK
/* ------------------------------------------ */
.professional {
    @include wrapper;
    @include heading;

    &__wrapper {
        background: url("../img/professional.png") no-repeat center center / cover;
        text-align: center;
        min-height: 62rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 2rem;
    }
}