// ------------------------------------------ //
// MIXINS
// ------------------------------------------ //
@mixin wrapper {
    position: relative;

    display: flex;
    flex-direction: column;

    align-items: center;
    align-content: center;
    justify-content: center;

    &__wrapper {
        width: 100%;
        margin: 0 auto;
        padding: 1.5rem;

        background: $color-primary-text-light;

        outline: 1px solid red;

        @media (min-width: $large-up) {
            width: $screen-large-min;
        }
    }
}

@mixin heading {
    &__heading {
        text-align: center;
        color: $color-primary-text-dark;
        text-transform: uppercase;
    }
}